parameters:
    paths:
        - src
    level: 5
    tmpDir: build/phpstan
    ignoreErrors:
       - identifier: missingType.iterableValue
       - identifier: missingType.generics
    checkModelProperties: true
    treatPhpDocTypesAsCertain: false
    scanDirectories:
        - requirements
