parameters:
    paths:
        - src
    level: 5
    tmpDir: build/phpstan
    checkMissingIterableValueType: false
    checkModelProperties: true
    treatPhpDocTypesAsCertain: false
    checkGenericClassInNonGenericObjectType: false
    scanDirectories:
        - requirements
